@import "tailwindcss";

/* Fonts */
@import '@fontsource/archivo-black';
@import '@fontsource/instrument-serif';
@import '@fontsource/playfair-display';
@import '@fontsource/jetbrains-mono';
@import '@fontsource/poppins';
@import '@fontsource/bodoni-moda';
@import '@fontsource/tienne';

/* Dark theme (default) */
:root {
    --primary-color: #0f172a;
    --logo-color: #ffffff;
    --logo-symbol-color: #3b82f6;
    --cv-text-color: #ffffff;
    --button-text-color: #3b82f6;
    --text-color: #ffffff;
    --secondary-color: #60a5fa;
    --nav-bg: rgba(235, 235, 235, 0.103);
    --border-color: rgba(235, 235, 235, 0.141);

    /* Fonts */
    --Inter: 'Inter', sans-serif;
    --Archivo-Black: 'Archivo Black', sans-serif;
    --Instrument-Serif: 'Instrument Serif', italic;
    --Playfair-Display: 'Playfair Display', serif;
    --Jetbrains-Mono: 'Jetbrains Mono', monospace;
    --Poppins: 'Poppins', monospace;
    --Bodoni-Moda: 'Bodoni Moda', serif;
    --Tienne: 'Tienne';
    --Fira-Code: 'Fira Code', monospace;
}

/* Light theme - applied when .dark class exists */
.light {
    --primary-color: #F5F5F5;
    --logo-color: #3b82f6;
    --logo-symbol-color: #0f172a;
    --cv-text-color: #ffffff;
    --button-text-color: #ffffff;
    --text-color: #0f172a;
    --secondary-color: #3b82f6;
    --nav-bg: rgba(3, 56, 135, 0.105);
    --border-color: rgba(7, 24, 120, 0.125);

    /* Fonts */
    --Inter: 'Inter', sans-serif;
    --Archivo-Black: 'Archivo Black', sans-serif;
    --Instrument-Serif: 'Instrument Serif', italic;
    --Playfair-Display: 'Playfair Display', serif;
    --Jetbrains-Mono: 'Jetbrains Mono', monospace;
    --Poppins: 'Poppins', monospace;
    --Bodoni-Moda: 'Bodoni Moda', serif;
    --Tienne: 'Tienne';
    --Fira-Code: 'Fira Code', monospace;
}

/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

body {
    color: var(--text-color);
    margin-inline: 120px;
    background-color: var(--primary-color);
    color: var(--text-color);
}

#links a {
    font-family: var(--Inter)
}

#nav {
    margin-top: 20px;
    padding-inline: px;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    
    background: transparent;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
    border: 1px solid transparent;
    box-shadow: none;
    border-radius: 0px;
}

#nav.scrolled {
    background: var(--nav-bg);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid var(--border-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;  /* Keep it flat, or change to 16px if you want rounded */
    margin-top: 20px;
}